<table cellspacing="0" cellpadding="0" class="gstl_0 gssb_c"
	style="width: 598px; top: 44px; position: absolute; text-align: left; left: 127px;"
	dir="ltr">
	<tbody>
		<tr>
			<td class="gssb_f"></td>
			<td class="gssb_e" style="width: 100%;"><table cellspacing="0"
					cellpadding="0" class="gssb_m" style="width: 100%;">
					<tbody>
						<tr class="">
							<td class="gssb_a gbqfsf" dir="ltr" style="text-align: left;"><div
									class="gsq_a">
									<table cellspacing="0" cellpadding="0" style="width: 100%;">
										<tbody>
											<tr>
												<td style="width: 100%;"><span>지<b>도</b></span></td>
												<td><a href="#ifl" class="gssb_j gss_ifl">I’m
														Feeling Lucky »</a></td>
											</tr>
										</tbody>
									</table>
								</div></td>
						</tr>
						<tr class="">
							<td class="gssb_a gbqfsf" dir="ltr" style="text-align: left;"><div
									class="gsq_a">
									<table cellspacing="0" cellpadding="0" style="width: 100%;">
										<tbody>
											<tr>
												<td style="width: 100%;"><span>www<b>.youtube.com
															검색</b></span></td>
												<td><a href="#ifl" class="gssb_j gss_ifl">I’m
														Feeling Lucky »</a></td>
											</tr>
										</tbody>
									</table>
								</div></td>
						</tr>
						<tr class="">
							<td class="gssb_a gbqfsf" dir="ltr" style="text-align: left;"><div
									class="gsq_a">
									<table cellspacing="0" cellpadding="0" style="width: 100%;">
										<tbody>
											<tr>
												<td style="width: 100%;"><span>지<b>마켓</b></span></td>
												<td><a href="#ifl" class="gssb_j gss_ifl">I’m
														Feeling Lucky »</a></td>
											</tr>
										</tbody>
									</table>
								</div></td>
						</tr>
						<tr class="">
							<td class="gssb_a gbqfsf" dir="ltr" style="text-align: left;"><div
									class="gsq_a">
									<table cellspacing="0" cellpadding="0" style="width: 100%;">
										<tbody>
											<tr>
												<td style="width: 100%;"><span>정<b>도전</b></span></td>
												<td><a href="#ifl" class="gssb_j gss_ifl">I’m
														Feeling Lucky »</a></td>
											</tr>
										</tbody>
									</table>
								</div></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr style="height: 0px;">
			<td></td>
			<td><div id="pocs"
					style="left: 0px; white-space: nowrap; position: absolute; z-index: 987;"
					class="sft">
					<div id="pocs0" style="display: none;">
						<span><span>Google</span> 순간 검색을 사용할 수 없습니다. 검색어를 입력한 후
							Enter를 누르세요.</span>&nbsp;<a
							href="/support/websearch/bin/answer.py?answer=186645&amp;form=bb&amp;hl=ko">자세히
							알아보기</a>
					</div>
					<div id="pocs1" style="display: none;">
						<span>Google</span>연결 속도 문제로 순간 검색이 중지되었습니다. 검색하려면 Enter를 누르세요.
					</div>
					<div id="pocs2">검색하려면 Enter를 누르세요.</div>
				</div></td>
		</tr>
	</tbody>
</table>